@model IEnumerable<NineWebApp.Contracts.Person>

@{
    ViewData["Title"] = "Race";
}

<script>
 function SelectionChanged()
 {
     var e = document.getElementById("race");
     var selected = e.options[e.selectedIndex].value;
     if (selected == "Select a race") {
         window.location = "home";
     }
     else {
         window.location = selected;
     }
    
 }
</script>

<h2>Race</h2>

@Html.DropDownList("Race",
                    new SelectList(Enum.GetValues(typeof(NineWebApp.Contracts.Enums.Race))),
                    "Select a race",
                    new { @class = "form-control" ,
                        id = "race",
                        onchange = "SelectionChanged()"
                    })

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Height)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
            </tr>
        }
    </tbody>
</table>